@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	transition: all 3ms ease;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #131313;
	color: whitesmoke;
	font-family: 'Overpass', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	/* text-align: left; */
}

#app {
	min-height: 100dvh;
	width: clamp(1rem, 100%, 40rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	padding: 3rem 1rem;
	margin: 0 auto;
}

h1 {
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	line-height: 2.5rem;
	font-weight: 500;
}

h2 {
	font-size: clamp(1.4rem, 2vw, 1.5rem);
	line-height: 2rem;
	font-weight: 500;
}

h3 {
	font-size: clamp(1rem, 1.8vw, 1.25rem);
	line-height: 1.75rem;
	font-weight: 500;
}

ul {
	list-style-type: none;
	list-style-position: inside;
}

a {
	text-decoration: none;
	color: #6eb8ff;
}
